### Pandas - Hands-on Exercises

This notebook contains simple exercises in Pandas. All the exercises will be based on the "Introduction to Pandas - Beginner's Guide" Jupyter notebook.

There may be one or more ways to find solution to a particular exercise, so try to experiment most in order to get used to the dataframes and series.

In [ ]:
#import pandas

In [ ]:
# create a pandas Series object with different fruit names.

In [ ]:
#View the series of different fruits

In [ ]:
#create a sample dataframe

In [ ]:
#Read a CSV file into a pandas DataFrame.

In [ ]:
#Display the top 5 rows in the dataframe

In [ ]:
#Display the bottom 5 rows in the dataframe

In [ ]:
#select first 10 columns using loc function

In [ ]:
# retrieve the shape of the dataframe

In [ ]:
# find the null values count.

In [ ]:
# filter rows based on a condition

In [ ]:
#sort the dataframe in ascending order

In [ ]:
#Find the sum and mean of any of the numerical column present in the dataframe.

In [ ]:
#groupby the dataframe using a columns and display the first records.